h1, h2, h3, h4, h5 {
  color: white
}

#playground {
  background: #0d8191;
}

.stretch-container {
  align-items: stretch;
}

.error {
  background: #af6a71;
}

.stretch {
  flex: 1;
  margin: 4px;
}
