<section class="mat-typography">
  <mat-toolbar>
    <mat-toolbar-row>
      <ng-container *ngIf="router.url.indexOf('/overview')>-1">
        <button mat-button [routerLink]="'/statistics'">Statistiken</button>
        <button mat-button [routerLink]="'/players'">Spieler bearbeiten</button>
      </ng-container>
      <ng-container *ngIf="router.url.indexOf('/players')>-1">
        <button mat-button [routerLink]="'/overview'"><</button>
        <span>Spielerliste</span>
      </ng-container>
      <ng-container *ngIf="router.url.indexOf('/statistics')>-1">
        <button mat-button [routerLink]="'/overview'"><</button>
        <span>Statistiken</span>
      </ng-container>
      <ng-container *ngIf="router.url.indexOf('/editplayer')>-1">
        <button mat-button [routerLink]="'/players'"><</button>
        <span>Spieler editieren</span>
      </ng-container>
      <ng-container *ngIf="router.url.indexOf('/newtournament')>-1">
        <button mat-button [routerLink]="'/overview'"><</button>
        <span>Neues Turnier</span>
      </ng-container>
      <ng-container *ngIf="router.url.indexOf('/tournament')>-1">
        <span>Turniermodus</span>
      </ng-container>
      <ng-container *ngIf="router.url.indexOf('/match')>-1">
        <span>Match</span>
      </ng-container>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="router.url.indexOf('/tournament')>-1">
      <button mat-button [routerLink]="'/overview'">Turnier abbrechen</button>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="router.url.indexOf('/match')>-1">
      <button mat-button [routerLink]="'/tournament'">Match abbrechen</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</section>
