/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  background: #123456;
}

.flex {
  display: flex;
}

.margin {
  margin: 10px;
}

.fullheight {
  height: 100%;
}

.halfheight {
  height: 50%;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.vertical-center {
  align-items: center;
}

.col-50 {
  width: 50%;
}

.col-100 {
  width: 100%;
}

.vertical-divider {
  width: 6px;
  height: 100%;
  background: white;
}

.horizontal-divider {
  height: 1px;
  width: 100%;
  margin: 0px;
  background: white;
}
